.rojo{
    background-color: red;
    }


.verde{
    background-color: green;
    }

.naranja{
    background-color: coral;
    }

.fondo{
    background-color: blueviolet;
}

.cuerpo1{
    color: brown;
}